<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="tests">
 <!-- You can change this to "firefox" or others -->

  <test name="test">
  <parameter name="browser" value="chrome"/>
    <classes>
     <!--class name="com.tripgain.testscripts.TC_01_VerifySearchFunctionalityForOneWayForTwoDay"/>
     <class name="com.tripgain.testscripts.TC_02_VerifySearchFunctionalityForOneWayForFiveDays"-->
     <!--class name="com.tripgain.hotaltestscripts.TCH_01_VerifySearchFunctionalityForHotals"/-->
     <!--class name="com.tripgain.hotaltestscripts.TCH_02_VerifySearchFunctionalityForHotals"/>
     <class name="com.tripgain.hotaltestscripts.TCH_03_VerifySearchFunctionalityForHotals"/-->
     <!--class name="com.tripgain.busestestscript.TCB_01_VerifySearchFunctionalityForBuses"/-->
      <!--class name="com.tripgain.hotaltestscripts.TCH_03_VerifySearchFunctionalityForHotalForTenDays"/>
      <class name="com.tripgain.hotaltestscripts.TCH_01_VerifySearchFunctionalityForHotalForTwoDays"/>
      <class name="com.tripgain.hotaltestscripts.TCH_00_VerifySearchFunctionalityForHotals"/>
      <class name="com.tripgain.hotaltestscripts.TCH_02_VerifySearchFunctionalityForHotalForFiveDays"/-->
      <!--class name="com.tripgain.hotaltestscripts.TCH_01_VerifySearchFunctionalityForHotalForTwoDays"/-->
      <!--class name="com.tripgain.testscripts.TC_03_VerifySearchFunctionalityForOneWayForTenDays"/-->
      <!--class name="com.tripgain.busestestscript1.TCB_01_VerifySearchFunctionalityForBusForTwoDays"/>
      <class name="com.tripgain.busestestscript1.TCB_02_VerifySearchFunctionalityForBusForFiveDays"/>
      <class name="com.tripgain.busestestscript1.TCB_03_VerifySearchFunctionalityForBusForTenDays"/-->
      
      <class name="com.tripgain.hotaltestscripts.TCH_01_VerifySearchFunctionalityForHotalForTwoDays"/>
      <class name="com.tripgain.hotaltestscripts.TCH_02_VerifySearchFunctionalityForHotalForFiveDays"/>
      <class name="com.tripgain.hotaltestscripts.TCH_03_VerifySearchFunctionalityForHotalForTenDays"/>
      <!--class name="com.tripgain.hotaltestscripts.TCH_04_VerifySearchFunctionalityForHotalForTwoDayTillBookingPage"/>
      <class name="com.tripgain.hotaltestscripts.TCH_05_VerifySearchFunctionalityForHotalApplyingFliters"/>
      <class name="com.tripgain.hotaltestscripts.TCH_06_VerifySearchByHotelAddressFunctionality"/>
      <class name="com.tripgain.hotaltestscripts.TCH_07_VerifySearchByHotelCurrency"/>
      <class name="com.tripgain.hotaltestscripts.TCH_08_VerifySearchByHotel"/-->

      
      
    </classes>
    
    
  </test> <!-- Test -->
 
  <test name="test1">
   <parameter name="browser" value="chrome"/>
    <classes>
     <!--class name="com.tripgain.testscripts.TC_03_VerifySearchFunctionalityForOneWayForTenDays"/>
     <class name="com.tripgain.testscripts.TC_04_VerifySearchFunctionalityForOneWayForTwentyDays"/-->

    </classes>
  </test>
   <test name="test2">
   <parameter name="browser" value="chrome"/>
    <classes>
     <!--class name="com.tripgain.roundtriptestscripts.TCRT_03_VerifySearchFunctionalityForRoundTripForInternationalFiveDays"/>
     <class name="com.tripgain.roundtriptestscripts.TCRT_01_VerifySearchFunctionalityForRoundTripForInternationalTwoDays"/-->
    </classes>
  </test>
   
   <test name="test3">
   <parameter name="browser" value="chrome"/>
    <classes>

     <!--class name="com.tripgain.roundtriptestscripts.TCRT_02_VerifySearchFunctionalityForRoundTripForDomesticTwoDays"/>
     <class name="com.tripgain.roundtriptestscripts.TCRT_04_VerifySearchFunctionalityForRoundTripForDomesticFiveDays"/-->


    </classes>
  </test>
 <test name="test4">
  <parameter name="browser" value="chrome"/>
  <classes>





  </classes>
 </test>
</suite> <!-- Suite -->
